.removeItemBtn {
  background-color: silver;
  color: white;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 2.5rem;
  align-self: center;
  transition: 0.8s;
}
.removeItemBtn:hover {
  background-color: whitesmoke;
  color: rgb(34, 34, 34);
}
