* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tabsList {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 3rem;
  list-style-type: none;
  border-bottom: 1px solid silver;
  overflow-x: auto;
}
.dishesList {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.loader {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabsList::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
